.sidebar {
  width: 230px;
  height: 100vh;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 1px solid #ddd;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* TITULO */
.nav-title {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ITEM */
.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

/* HOVER SUAVE */
.menu-item:hover {
  background: #e6e6e6;
}

.menu-item.active {
  background: #e6dbcd;
  border-left: 5px solid #ff7a00;
  color: #000;
}

/* ICONOS */
.menu-item svg {
  font-size: 16px;
}

.content {
  background: #fff3e6;
  padding: 20px;
  min-height: 100vh;
}

.form-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.user-info {
  font-size: 14px;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
}


.logout {
  margin-top: auto;
  color: #c0392b;
}

.logout:hover {
  background: #fdecea;
}
